<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:name=".InfoRestApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inforestapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.ConfiguracionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.MensajeMeseroActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.DivisionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.DescuentoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.ForoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.TurnoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.ClienteActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.CobroActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.ProductoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.view.TransferirActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.DetallePedidoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- android:theme="@style/TransparentTheme" -->
        <!-- /> -->
        <activity
            android:name=".ui.view.PedidoActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.VentaActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.view.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_main" />
    </application>

</manifest>